# Force npm to run node-gyp with python3
python=/usr/bin/python3

# Set the node-linker to hoisted to avoid issues with Prisma
node-linker=hoisted

# Ensure Prisma binaries are properly installed
public-hoist-pattern[]=*prisma*
